<%= stylesheet_link_tag 'users', :media => "all" %>

<div class ="box1" >
<h1>マイページ <%= @user.email %></h1><br>
<%= link_to 'トップページへ', top_path %><br>

<% if @user.posts.blank? %>
    <%= link_to '自己分析をする', new_post_path %>
<% end %>

<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<br>
    <div class ="box2" >
    <h1>自己分析</h1>
        <canvas id="myChart" width="50%"></canvas>
        <script>

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ["D型", "I型", "S型", "C型"],
            datasets: 
            [
            <% @dsum = @user.posts.sum(:four) + @user.posts.sum(:seven) + @user.posts.sum(:seventeen) + @user.posts.sum(:nineteen) + @user.posts.sum(:twenty) %>
            <% @dcount=@user.posts.count(:created_at) %> 

            <% @isum = @user.posts.sum(:six) + @user.posts.sum(:eight) + @user.posts.sum(:eleven) + @user.posts.sum(:fourteen) +  @user.posts.sum(:two) %>
            <% @icount=@user.posts.count(:created_at) %>

            <% @ssum = @user.posts.sum(:three) + @user.posts.sum(:nine) + @user.posts.sum(:thirteen) + @user.posts.sum(:sixteen) + @user.posts.sum(:eighteen) %>
            <% @scount=@user.posts.count(:created_at) %>

            <% @csum = @user.posts.sum(:first) + @user.posts.sum(:five) + @user.posts.sum(:ten) + @user.posts.sum(:twelve) + @user.posts.sum(:fifteen) %>
            <% @ccount=@user.posts.count(:created_at) %>
                {
                label: "自己分析",
                backgroundColor: 'rgba(122,255,129,0.2)',
                //borderColor: '#000',
                data: [<%= @dsum.to_f/@dcount %>, <%= @isum.to_f/@icount %>, <%= @ssum.to_f/@scount %>, <%= @csum.to_f/@ccount %>]
                },
            ]
        },
        options: {
            scale: {
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 20
                }
            }
        }
        });

        </script>
    </div>

    <br>


<% if @user.appearances.blank? %>
    <p>友達に診断してもらいたい人は</p>
    <p>以下のリンクをコピーして友達に診断してもらおう！</p>
        <textarea id="bar" readonly>
            <%# "#{user_url(public_uid: current_user.public_uid)}" %>
            <%= "#{appearance_url(public_uid: current_user.public_uid)}" %>
        </textarea>
        <br>
        <button onclick="copyToClipboard()">リンクをコピー</button><br>


        <script>
            function copyToClipboard() {
                // コピー対象をJavaScript上で変数として定義する
                var copyTarget = document.getElementById("bar");

                // コピー対象のテキストを選択する
                copyTarget.select();

                // 選択しているテキストをクリップボードにコピーする
                document.execCommand("Copy");

                alert("コピーしました! : " + copyTarget.value);
            }
        </script>

<% else %>

        <div class ="box2" >
            <h1>他己分析</h1>
                <canvas id="yourChart" width="50%"></canvas>
                <script>

                var ctx = document.getElementById("yourChart");
                var yourChart = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: ["D型", "I型", "S型", "C型"],
                    datasets: 
                    [
                    <% @dsum = @user.appearances.sum(:four) + @user.appearances.sum(:seven) + @user.appearances.sum(:seventeen) + @user.appearances.sum(:nineteen) + @user.appearances.sum(:twenty) %>
                    <% @dcount=@user.appearances.count(:created_at) %> 

                    <% @isum = @user.appearances.sum(:six) + @user.appearances.sum(:eight) + @user.appearances.sum(:eleven) + @user.appearances.sum(:fourteen) +  @user.appearances.sum(:two) %>
                    <% @icount=@user.appearances.count(:created_at) %>

                    <% @ssum = @user.appearances.sum(:three) + @user.appearances.sum(:nine) + @user.appearances.sum(:thirteen) + @user.appearances.sum(:sixteen) + @user.appearances.sum(:eighteen) %>
                    <% @scount=@user.appearances.count(:created_at) %>

                    <% @csum = @user.appearances.sum(:first) + @user.appearances.sum(:five) + @user.appearances.sum(:ten) + @user.appearances.sum(:twelve) + @user.appearances.sum(:fifteen) %>
                    <% @ccount=@user.appearances.count(:created_at) %>
                        {
                        label: "他己分析",
                        backgroundColor: 'rgba(122,255,129,0.2)',
                        //borderColor: '#000',
                        data: [<%= @dsum.to_f/@dcount %>, <%= @isum.to_f/@icount %>, <%= @ssum.to_f/@scount %>, <%= @csum.to_f/@ccount %>]
                        },
                    ]
                },
                options: {
                    scale: {
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 20
                        }
                    }
                }
                });
                </script>
            </div>
        </div>

        <p>友達に診断してもらいたい人は</p>
    <p>以下のリンクをコピーして友達に診断してもらおう！</p>
        <textarea id="bar" readonly>
            <%# "#{user_url(public_uid: current_user.public_uid)}" %>
            <%= "#{appearance_url(public_uid: current_user.public_uid)}" %>
        </textarea>
        <br>
        <button onclick="copyToClipboard()">リンクをコピー</button><br>


        <script>
            function copyToClipboard() {
                // コピー対象をJavaScript上で変数として定義する
                var copyTarget = document.getElementById("bar");

                // コピー対象のテキストを選択する
                copyTarget.select();

                // 選択しているテキストをクリップボードにコピーする
                document.execCommand("Copy");

                alert("コピーしました! : " + copyTarget.value);
            }
        </script>
<% end %>

<%# link_to "post一覧に戻る", posts_path %>