<p id="notice"><%= notice %></p>

<h1>Appearances</h1>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Two</th>
      <th>Three</th>
      <th>Four</th>
      <th>Five</th>
      <th>Six</th>
      <th>Seven</th>
      <th>Eight</th>
      <th>Nine</th>
      <th>Ten</th>
      <th>Eleven</th>
      <th>Twelve</th>
      <th>Thirteen</th>
      <th>Fourteen</th>
      <th>Fifteen</th>
      <th>Sixteen</th>
      <th>Seventeen</th>
      <th>Eighteen</th>
      <th>Nineteen</th>
      <th>Twenty</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appearances.each do |appearance| %>
      <tr>
        <td><%= appearance.first %></td>
        <td><%= appearance.two %></td>
        <td><%= appearance.three %></td>
        <td><%= appearance.four %></td>
        <td><%= appearance.five %></td>
        <td><%= appearance.six %></td>
        <td><%= appearance.seven %></td>
        <td><%= appearance.eight %></td>
        <td><%= appearance.nine %></td>
        <td><%= appearance.ten %></td>
        <td><%= appearance.eleven %></td>
        <td><%= appearance.twelve %></td>
        <td><%= appearance.thirteen %></td>
        <td><%= appearance.fourteen %></td>
        <td><%= appearance.fifteen %></td>
        <td><%= appearance.sixteen %></td>
        <td><%= appearance.seventeen %></td>
        <td><%= appearance.eighteen %></td>
        <td><%= appearance.nineteen %></td>
        <td><%= appearance.twenty %></td>
        <td><%= appearance.user_id %></td>
        <td><%= link_to 'Show', appearance %></td>
        <td><%= link_to 'Edit', edit_appearance_path(appearance) %></td>
        <td><%= link_to 'Destroy', appearance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appearance', new_appearance_path %>
