<h1>New Appearance</h1>


<%= form_for @appearance, url: appearances_create_path do |form| %>

  <%= form.hidden_field :user_id, value: @user.id %>
  <%= @user.id %><br>
  <%= @user.public_uid %>


  <div class="field">
    <p>first</p>
    <%= form.radio_button :first, :"4" %>
    <%= form.radio_button :first, :"3" %>
    <%= form.radio_button :first, :"2" %>
    <%= form.radio_button :first, :"1" %>
  </div>

  <div class="field">
    <p>two</p>
    <%= form.radio_button :two, :"4" %>
    <%= form.radio_button :two, :"3" %>
    <%= form.radio_button :two, :"2" %>
    <%= form.radio_button :two, :"1" %>
  </div>

  <div class="field">
    <p>three</p>
    <%= form.radio_button :three, :"4" %>
    <%= form.radio_button :three, :"3" %>
    <%= form.radio_button :three, :"2" %>
    <%= form.radio_button :three, :"1" %>
  </div>

  <div class="field">
    <p>four</p>
    <%= form.radio_button :four, :"4" %>
    <%= form.radio_button :four, :"3" %>
    <%= form.radio_button :four, :"2" %>
    <%= form.radio_button :four, :"1" %>
  </div>

  <div class="field">
    <p>five</p>
    <%= form.radio_button :five, :"4" %>
    <%= form.radio_button :five, :"3" %>
    <%= form.radio_button :five, :"2" %>
    <%= form.radio_button :five, :"1" %>
  </div>

  <div class="field">
    <p>six</p>
    <%= form.radio_button :six, :"4" %>
    <%= form.radio_button :six, :"3" %>
    <%= form.radio_button :six, :"2" %>
    <%= form.radio_button :six, :"1" %>
  </div>
  
  <div class="field">
    <p>seven</p>
    <%= form.radio_button :seven, :"4" %>
    <%= form.radio_button :seven, :"3" %>
    <%= form.radio_button :seven, :"2" %>
    <%= form.radio_button :seven, :"1" %>
  </div>

  <div class="field">
    <p>eight</p>
    <%= form.radio_button :eight, :"4" %>
    <%= form.radio_button :eight, :"3" %>
    <%= form.radio_button :eight, :"2" %>
    <%= form.radio_button :eight, :"1" %>
  </div>

  <div class="field">
    <p>nine</p>
    <%= form.radio_button :nine, :"4" %>
    <%= form.radio_button :nine, :"3" %>
    <%= form.radio_button :nine, :"2" %>
    <%= form.radio_button :nine, :"1" %>
  </div>
  
  <div class="field">
    <p>ten</p>
    <%= form.radio_button :ten, :"4" %>
    <%= form.radio_button :ten, :"3" %>
    <%= form.radio_button :ten, :"2" %>
    <%= form.radio_button :ten, :"1" %>
  </div>

  <div class="field">
    <p>eleven</p>
    <%= form.radio_button :eleven, :"4" %>
    <%= form.radio_button :eleven, :"3" %>
    <%= form.radio_button :eleven, :"2" %>
    <%= form.radio_button :eleven, :"1" %>
  </div>

  <div class="field">
    <p>twelve</p>
    <%= form.radio_button :twelve, :"4" %>
    <%= form.radio_button :twelve, :"3" %>
    <%= form.radio_button :twelve, :"2" %>
    <%= form.radio_button :twelve, :"1" %>
  </div>

  <div class="field">
    <p>thirteen</p>
    <%= form.radio_button :thirteen, :"4" %>
    <%= form.radio_button :thirteen, :"3" %>
    <%= form.radio_button :thirteen, :"2" %>
    <%= form.radio_button :thirteen, :"1" %>
  </div>

  <div class="field">
    <p>fourteen</p>
    <%= form.radio_button :fourteen, :"4" %>
    <%= form.radio_button :fourteen, :"3" %>
    <%= form.radio_button :fourteen, :"2" %>
    <%= form.radio_button :fourteen, :"1" %>
  </div>

  <div class="field">
    <p>fifteen</p>
    <%= form.radio_button :fifteen, :"4" %>
    <%= form.radio_button :fifteen, :"3" %>
    <%= form.radio_button :fifteen, :"2" %>
    <%= form.radio_button :fifteen, :"1" %>
  </div>

  <div class="field">
    <p>sixteen</p>
    <%= form.radio_button :sixteen, :"4" %>
    <%= form.radio_button :sixteen, :"3" %>
    <%= form.radio_button :sixteen, :"2" %>
    <%= form.radio_button :sixteen, :"1" %>
  </div>

  <div class="field">
    <p>seventeen</p>
    <%= form.radio_button :seventeen, :"4" %>
    <%= form.radio_button :seventeen, :"3" %>
    <%= form.radio_button :seventeen, :"2" %>
    <%= form.radio_button :seventeen, :"1" %>
  </div>
  
  <div class="field">
    <p>eightteen</p>
    <%= form.radio_button :eighteen, :"4" %>
    <%= form.radio_button :eighteen, :"3" %>
    <%= form.radio_button :eighteen, :"2" %>
    <%= form.radio_button :eighteen, :"1" %>
  </div>

  <div class="field">
    <p>nineteen</p>
    <%= form.radio_button :nineteen, :"4" %>
    <%= form.radio_button :nineteen, :"3" %>
    <%= form.radio_button :nineteen, :"2" %>
    <%= form.radio_button :nineteen, :"1" %>
  </div>

  <div class="field">
    <p>twenty</p>
    <%= form.radio_button :twenty, :"4" %>
    <%= form.radio_button :twenty, :"3" %>
    <%= form.radio_button :twenty, :"2" %>
    <%= form.radio_button :twenty, :"1" %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', posts_path %>
