<h1>他己分析</h1><br>
<p>あなたから見て回答をお願いしてきた人はどのように見えますか？</p>
<p>4点：とてもそう思う</p>
<p>1点：とてもそうは思わない</p>
<%= form_for @appearance, url: appearances_create_path do |form| %>

  <%= form.hidden_field :user_id, value: @user.id %>
  <%# @user.id %><br>
  <%# @user.public_uid %>


 <div class="field">
    <p>①自己主張することが下手だと思う</p>
    <div class = "box">
      <div>
        <%= form.label(:first, "4")  %>
        <%= form.radio_button :first, :"4" %>
      </div>
        <div>
        <%= form.label(:first, "3")  %>
        <%= form.radio_button :first, :"3" %>
      </div>
        <div>
        <%= form.label(:first, "2")  %>
        <%= form.radio_button :first, :"2" %>
      </div>
        <div>
        <%= form.label(:first, "1")  %>
        <%= form.radio_button :first, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>②常に未来に対して情熱を持ってる方だ</p>
    <div class = "box">
      <div>
        <%= form.label(:two, "4")  %>
        <%= form.radio_button :two, :"4" %>
      </div>
        <div>
        <%= form.label(:two, "3")  %>
        <%= form.radio_button :two, :"3" %>
      </div>
        <div>
        <%= form.label(:two, "2")  %>
        <%= form.radio_button :two, :"2" %>
      </div>
        <div>
        <%= form.label(:two, "1")  %>
        <%= form.radio_button :two, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>③他人のためにしたことを感謝されないと悔しく思うことがよくある</p>
    <div class = "box">
      <div>
        <%= form.label(:three, "4")  %>
        <%= form.radio_button :three, :"4" %>
      </div>
        <div>
        <%= form.label(:three, "3")  %>
        <%= form.radio_button :three, :"3" %>
      </div>
        <div>
        <%= form.label(:three, "2")  %>
        <%= form.radio_button :three, :"2" %>
      </div>
        <div>
        <%= form.label(:three, "1")  %>
        <%= form.radio_button :three, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>④いやなことはいやと、はっきり言える</p>
    <div class = "box">
      <div>
        <%= form.label(:four, "4")  %>
        <%= form.radio_button :four, :"4" %>
      </div>
        <div>
        <%= form.label(:four, "3")  %>
        <%= form.radio_button :four, :"3" %>
      </div>
        <div>
        <%= form.label(:four, "2")  %>
        <%= form.radio_button :four, :"2" %>
      </div>
        <div>
        <%= form.label(:four, "1")  %>
        <%= form.radio_button :four, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑤人にはなかなか気を許さない</p>
    <div class = "box">
      <div>
        <%= form.label(:five, "4")  %>
        <%= form.radio_button :five, :"4" %>
      </div>
        <div>
        <%= form.label(:five, "3")  %>
        <%= form.radio_button :five, :"3" %>
      </div>
        <div>
        <%= form.label(:five, "2")  %>
        <%= form.radio_button :five, :"2" %>
      </div>
        <div>
        <%= form.label(:five, "1")  %>
        <%= form.radio_button :five, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑥人から楽しい人だとよく言われる</p>
    <div class = "box">
      <div>
        <%= form.label(:six, "4")  %>
        <%= form.radio_button :six, :"4" %>
      </div>
        <div>
        <%= form.label(:six, "3")  %>
        <%= form.radio_button :six, :"3" %>
      </div>
        <div>
        <%= form.label(:six, "2")  %>
        <%= form.radio_button :six, :"2" %>
      </div>
        <div>
        <%= form.label(:six, "1")  %>
        <%= form.radio_button :six, :"1" %>
      </div>
    </div>
  </div>
  
  <div class="field">
    <p>⑦短い時間にできるだけ多くのことをしようとする</p>
    <div class = "box">
      <div>
        <%= form.label(:seven, "4")  %>
        <%= form.radio_button :seven, :"4" %>
      </div>
        <div>
        <%= form.label(:seven, "3")  %>
        <%= form.radio_button :seven, :"3" %>
      </div>
        <div>
        <%= form.label(:seven, "2")  %>
        <%= form.radio_button :seven, :"2" %>
      </div>
        <div>
        <%= form.label(:seven, "1")  %>
        <%= form.radio_button :seven, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑧失敗しても立ち直りが早い</p>
    <div class = "box">
      <div>
        <%= form.label(:eight, "4")  %>
        <%= form.radio_button :eight, :"4" %>
      </div>
        <div>
        <%= form.label(:eight, "3")  %>
        <%= form.radio_button :eight, :"3" %>
      </div>
        <div>
        <%= form.label(:eight, "2")  %>
        <%= form.radio_button :eight, :"2" %>
      </div>
        <div>
        <%= form.label(:eight, "1")  %>
        <%= form.radio_button :eight, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑨人からものを頼まれるとなかなかNOと言えない</p>
    <div class = "box">
      <div>
        <%= form.label(:nine, "4")  %>
        <%= form.radio_button :nine, :"4" %>
      </div>
        <div>
        <%= form.label(:nine, "3")  %>
        <%= form.radio_button :nine, :"3" %>
      </div>
        <div>
        <%= form.label(:nine, "2")  %>
        <%= form.radio_button :nine, :"2" %>
      </div>
        <div>
        <%= form.label(:nine, "1")  %>
        <%= form.radio_button :nine, :"1" %>
      </div>
    </div>
  </div>
  
  <div class="field">
    <p>⑩たくさんの情報を検討してから決断をくだす</p>
    <div class = "box">
      <div>
        <%= form.label(:ten, "4")  %>
        <%= form.radio_button :ten, :"4" %>
      </div>
        <div>
        <%= form.label(:ten, "3")  %>
        <%= form.radio_button :ten, :"3" %>
      </div>
        <div>
        <%= form.label(:ten, "2")  %>
        <%= form.radio_button :ten, :"2" %>
      </div>
        <div>
        <%= form.label(:ten, "1")  %>
        <%= form.radio_button :ten, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑪人の話を聞くよりも自分が話している事の方が多い</p>
   <div class = "box">
      <div>
        <%= form.label(:eleven, "4")  %>
        <%= form.radio_button :eleven, :"4" %>
      </div>
        <div>
        <%= form.label(:eleven, "3")  %>
        <%= form.radio_button :eleven, :"3" %>
      </div>
        <div>
        <%= form.label(:eleven, "2")  %>
        <%= form.radio_button :eleven, :"2" %>
      </div>
        <div>
        <%= form.label(:eleven, "1")  %>
        <%= form.radio_button :eleven, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑫どちらかというと人見知りする方だ</p>
   <div class = "box">
      <div>
        <%= form.label(:twelve, "4")  %>
        <%= form.radio_button :twelve, :"4" %>
      </div>
        <div>
        <%= form.label(:twelve, "3")  %>
        <%= form.radio_button :twelve, :"3" %>
      </div>
        <div>
        <%= form.label(:twelve, "2")  %>
        <%= form.radio_button :twelve, :"2" %>
      </div>
        <div>
        <%= form.label(:twelve, "1")  %>
        <%= form.radio_button :twelve, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑬自分を人とよく比較する</p>
   <div class = "box">
      <div>
        <%= form.label(:thirteen, "4")  %>
        <%= form.radio_button :thirteen, :"4" %>
      </div>
        <div>
        <%= form.label(:thirteen, "3")  %>
        <%= form.radio_button :thirteen, :"3" %>
      </div>
        <div>
        <%= form.label(:thirteen, "2")  %>
        <%= form.radio_button :thirteen, :"2" %>
      </div>
        <div>
        <%= form.label(:thirteen, "1")  %>
        <%= form.radio_button :thirteen, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑭変化に強く適応力がある</p>
   <div class = "box">
      <div>
        <%= form.label(:fourteen, "4")  %>
        <%= form.radio_button :fourteen, :"4" %>
      </div>
        <div>
        <%= form.label(:fourteen, "3")  %>
        <%= form.radio_button :fourteen, :"3" %>
      </div>
        <div>
        <%= form.label(:fourteen, "2")  %>
        <%= form.radio_button :fourteen, :"2" %>
      </div>
        <div>
        <%= form.label(:fourteen, "1")  %>
        <%= form.radio_button :fourteen, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑮何事も自分の感情を表現することが苦手だ</p>
   <div class = "box">
      <div>
        <%= form.label(:fifteen, "4")  %>
        <%= form.radio_button :fifteen, :"4" %>
      </div>
        <div>
        <%= form.label(:fifteen, "3")  %>
        <%= form.radio_button :fifteen, :"3" %>
      </div>
        <div>
        <%= form.label(:fifteen, "2")  %>
        <%= form.radio_button :fifteen, :"2" %>
      </div>
        <div>
        <%= form.label(:fifteen, "1")  %>
        <%= form.radio_button :fifteen, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑯相手の好き嫌いにかかわらず、人に世話をしてしまうほうだ</p>
   <div class = "box">
      <div>
        <%= form.label(:sixteen, "4")  %>
        <%= form.radio_button :sixteen, :"4" %>
      </div>
        <div>
        <%= form.label(:sixteen, "3")  %>
        <%= form.radio_button :sixteen, :"3" %>
      </div>
        <div>
        <%= form.label(:sixteen, "2")  %>
        <%= form.radio_button :sixteen, :"2" %>
      </div>
        <div>
        <%= form.label(:sixteen, "1")  %>
        <%= form.radio_button :sixteen, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑰自分が思ったことはストレートに言う</p>
   <div class = "box">
      <div>
        <%= form.label(:seventeen, "4")  %>
        <%= form.radio_button :seventeen, :"4" %>
      </div>
        <div>
        <%= form.label(:seventeen, "3")  %>
        <%= form.radio_button :seventeen, :"3" %>
      </div>
        <div>
        <%= form.label(:seventeen, "2")  %>
        <%= form.radio_button :seventeen, :"2" %>
      </div>
        <div>
        <%= form.label(:seventeen, "1")  %>
        <%= form.radio_button :seventeen, :"1" %>
      </div>
    </div>
  </div>
  
  <div class="field">
    <p>⑱他人と一緒にいると、自分のことは後回しになることが多い</p>
   <div class = "box">
      <div>
        <%= form.label(:eighteen, "4")  %>
        <%= form.radio_button :eighteen, :"4" %>
      </div>
        <div>
        <%= form.label(:eighteen, "3")  %>
        <%= form.radio_button :eighteen, :"3" %>
      </div>
        <div>
        <%= form.label(:eighteen, "2")  %>
        <%= form.radio_button :eighteen, :"2" %>
      </div>
        <div>
        <%= form.label(:eighteen, "1")  %>
        <%= form.radio_button :eighteen, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑲競争心が強い</p>
  <div class = "box">
      <div>
        <%= form.label(:nineteen, "4")  %>
        <%= form.radio_button :nineteen, :"4" %>
      </div>
        <div>
        <%= form.label(:nineteen, "3")  %>
        <%= form.radio_button :nineteen, :"3" %>
      </div>
        <div>
        <%= form.label(:nineteen, "2")  %>
        <%= form.radio_button :nineteen, :"2" %>
      </div>
        <div>
        <%= form.label(:nineteen, "1")  %>
        <%= form.radio_button :nineteen, :"1" %>
      </div>
    </div>
  </div>

  <div class="field">
    <p>⑳何事も完全にしないと気が済まない</p>
   <div class = "box">
      <div>
        <%= form.label(:twenty, "4")  %>
        <%= form.radio_button :twenty, :"4" %>
      </div>
        <div>
        <%= form.label(:twenty, "3")  %>
        <%= form.radio_button :twenty, :"3" %>
      </div>
        <div>
        <%= form.label(:twenty, "2")  %>
        <%= form.radio_button :twenty, :"2" %>
      </div>
        <div>
        <%= form.label(:twenty, "1")  %>
        <%= form.radio_button :twenty, :"1" %>
      </div>
    </div>
  </div>
  
  <div class="actions">
    <%= form.submit "送信する" %>
  </div>
<% end %>


<%= link_to 'Back', posts_path %>
