<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @appearance.first %>
</p>

<p>
  <strong>Two:</strong>
  <%= @appearance.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @appearance.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @appearance.four %>
</p>

<p>
  <strong>Five:</strong>
  <%= @appearance.five %>
</p>

<p>
  <strong>Six:</strong>
  <%= @appearance.six %>
</p>

<p>
  <strong>Seven:</strong>
  <%= @appearance.seven %>
</p>

<p>
  <strong>Eight:</strong>
  <%= @appearance.eight %>
</p>

<p>
  <strong>Nine:</strong>
  <%= @appearance.nine %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @appearance.ten %>
</p>

<p>
  <strong>Eleven:</strong>
  <%= @appearance.eleven %>
</p>

<p>
  <strong>Twelve:</strong>
  <%= @appearance.twelve %>
</p>

<p>
  <strong>Thirteen:</strong>
  <%= @appearance.thirteen %>
</p>

<p>
  <strong>Fourteen:</strong>
  <%= @appearance.fourteen %>
</p>

<p>
  <strong>Fifteen:</strong>
  <%= @appearance.fifteen %>
</p>

<p>
  <strong>Sixteen:</strong>
  <%= @appearance.sixteen %>
</p>

<p>
  <strong>Seventeen:</strong>
  <%= @appearance.seventeen %>
</p>

<p>
  <strong>Eighteen:</strong>
  <%= @appearance.eighteen %>
</p>

<p>
  <strong>Nineteen:</strong>
  <%= @appearance.nineteen %>
</p>

<p>
  <strong>Twenty:</strong>
  <%= @appearance.twenty %>
</p>

<p>
  <strong>User:</strong>
  <%= @appearance.user_id %>
</p>

<%= link_to 'Edit', edit_appearance_path(@appearance) %> |
<%= link_to 'Back', appearances_path %>
