<% if user_signed_in? %>
    <%= button_to "マイページへ",  user_path,method: :get,class:'btn btn-dark' %>
<% else %>
    <%= button_to "ログイン",  new_user_session_path,method: :get,class:'btn btn-dark' %>
<% end %>
<div class = "box1">
    <h1>他己分析をオンラインで行おう</h1><br>
    <p>コロナ禍は中々対面で自己分析を手伝ってもらうことが出来ない</p>
    <p>このサイトではまず自分で自己分析の一種であるDISC診断を行い、周りの人にも自分のことを診断してもらうことが可能です</p>
    <p>診断後にはマイページで自分と他社の回答を視覚化して比較が出来ます</p>
</div>

<%  @users.each do |t|%>
    <%= t.id%>
<% end %>

<div class = "box2">
    <h1>DISC診断とは</h1><br>
    <p>「DiSC理論」とは、1920年代にアメリカのウィリアム・M・マーストン博士が提唱したコミュニケーション理論です。人の性格・特性や行動パターンを4つのタイプに分類し、各タイプ別に適切なコミュニケーション方法を導きだしています。</p><br>

    <h3>D（Dominance）：主導型とは</h3>	
    <ul>
        <li>責任感と自信があり、チャレンジ精神を持つタイプ</li>
        <li>一生懸命に物事に取り組み、迅速な結果を求める傾向がある</li>
    </ul>
    <br>

    <h3>i（influence）：感化型とは</h3>	
    <ul>
        <li>社交性があり楽観的なところが特徴で、組織内ではムードメーカーの役割を果たすタイプ</li>
        <li>発想が豊かであり、対人関係にも優れた能力を発揮する</li>
    </ul>
    <br>

    <h3>S（Steadiness）：安定型とは</h3>	
    <ul>
        <li>人への配慮ができ、協調性のあるタイプ</li>
        <li>ひとつの事柄を地道に遂行できる能力に長けており、仕事ぶりに安定感がある</li>
    </ul>
    <br>

    <h3>C（Conscientiousness）：慎重型とは</h3>	
    <ul>
        <li>論理的に考えることを得意としており、計画的に仕事を遂行する力を持つタイプ</li>
        <li>間違いのないように確認する慎重さを持ち合わせている
    </li>
    </ul>
</div>
<div class = "box1">
    <h1>このサイトの使い方</h1><br>
    <ul>
        <li><%= link_to "マイページ",  user_path %>で自己分析をする</li>
        <li><%= link_to "マイページ",  user_path %>下部のリンクを周りの人に送り、回答してもらう</li>
        <li>周りの人の回答の平均が表示される</li>
    </ul>
</div>